[Unit]
Description=IQ bus (rtl_sdr server)
After=network.target
Wants=network.target

[Service]
User=iqbus
Type=simple
ExecStart=sdr_server /etc/iqbus.config
Restart=always
KillMode=control-group
RestartSec=1

[Install]
WantedBy=multi-user.target
