[Unit]
Description=<CALLSIGN> NOAA Weather Radio stream
After=network-online.target
After=iqbus.service
Wants=network-online.target
Requires=iqbus.service
[Service]
Type=simple
User=<CALLSIGN_LOWER>
Group=broadcasters
StateDirectory=easrecorder/<CALLSIGN_LOWER>
UMask=0022
ExecStart=/usr/local/bin/<CALLSIGN_LOWER>.liq
Restart=always
RestartSec=5
KillMode=control-group
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
